.product-1 .product-image {
    background-image: url('./assets/schemas/dulces/1.JPG')
}

.product-2 .product-image {
    background-image: url('./assets/schemas/dulces/2.JPG');
}

.product-3 .product-image {
    background-image: url('./assets/schemas/dulces/3.JPG');
}

.product-4 .product-image {
    background-image: url('./assets/schemas/dulces/4.png');
}

.product-5 .product-image {
    background-image: url('./assets/schemas/dulces/5.JPG');
}

.product-6 .product-image {
    background-image: url('./assets/schemas/dulces/6.JPG');
}

.product-7 .product-image {
    background-image: url('./assets/schemas/dulces/7.JPG');
}

.product-8 .product-image {
    background-image: url('./assets/schemas/dulces/8.JPG');
}

.product-9 .product-image {
    background-image: url('./assets/schemas/dulces/9.JPG');
}

.product-10 .product-image {
    background-image: url('./assets/schemas/dulces/10.JPG');
}

.product-11 .product-image {
    background-image: url('./assets/schemas/dulces/11.JPG');
}

.product-12 .product-image {
    background-image: url('./assets/schemas/dulces/12.JPG');
}

.product-13 .product-image {
    background-image: url('./assets/schemas/dulces/13.JPG');
}

.product-14 .product-image {
    background-image: url('./assets/schemas/dulces/14.JPG');
}

.product-15 .product-image {
    background-image: url('./assets/schemas/dulces/15.JPG');
}

.product-16 .product-image {
    background-image: url('./assets/schemas/dulces/16.JPG');
}

.product-17 .product-image {
    background-image: url('./assets/schemas/dulces/17.JPG');
}

.product-18 .product-image {
    background-image: url('./assets/schemas/dulces/18.JPG');
}

.product-19 .product-image {
    background-image: url('./assets/schemas/dulces/19.JPG');
}

.product-20 .product-image {
    background-image: url('./assets/schemas/dulces/20.JPG');
}

.product-21 .product-image {
    background-image: url('./assets/schemas/dulces/21.JPG');
}

.product-22 .product-image {
    background-image: url('./assets/schemas/dulces/22.JPG');
}

.product-23 .product-image {
    background-image: url('./assets/schemas/dulces/23.JPG');
}

.product-24 .product-image {
    background-image: url('./assets/schemas/dulces/24.JPG');
}

.product-25 .product-image {
    background-image: url('./assets/schemas/dulces/25.JPG');
}

.product-26 .product-image {
    background-image: url('./assets/schemas/dulces/26.JPG');
}

.product-27 .product-image {
    background-image: url('./assets/schemas/dulces/27.JPG');
}

.product-28 .product-image {
    background-image: url('./assets/schemas/dulces/28.JPG');
}

.product-29 .product-image {
    background-image: url('./assets/schemas/dulces/29.JPG');
}

.product-30 .product-image {
    background-image: url('./assets/schemas/dulces/30.JPG');
}

.product-31 .product-image {
    background-image: url('./assets/schemas/dulces/31.JPG');
}

.product-32 .product-image {
    background-image: url('./assets/schemas/dulces/32.JPG');
}

.product-33 .product-image {
    background-image: url('./assets/schemas/dulces/33.JPG');
}

.product-34 .product-image {
    background-image: url('./assets/schemas/dulces/34.JPG');
}

.product-35 .product-image {
    background-image: url('./assets/schemas/dulces/35.png');
}

.product-36 .product-image {
    background-image: url('./assets/schemas/dulces/36.JPG');
}

.product-37 .product-image {
    background-image: url('./assets/schemas/dulces/37.JPG');
}

.product-38 .product-image {
    background-image: url('./assets/schemas/dulces/38.JPG');
}

.product-39 .product-image {
    background-image: url('./assets/schemas/dulces/39.JPG');
}

.product-40 .product-image {
    background-image: url('./assets/schemas/dulces/40.JPG');
}

.product-41 .product-image {
    background-image: url('./assets/schemas/dulces/41.JPG');
}

.product-42 .product-image {
    background-image: url('./assets/schemas/dulces/42.JPG');
}

.product-43 .product-image {
    background-image: url('./assets/schemas/dulces/43.JPG');
}

.product-44 .product-image {
    background-image: url('./assets/schemas/dulces/44.JPG');
}

.product-45 .product-image {
    background-image: url('./assets/schemas/dulces/45.png');
}

.product-46 .product-image {
    background-image: url('./assets/schemas/dulces/46.JPG');
}

.product-47 .product-image {
    background-image: url('./assets/schemas/dulces/47.JPG');
}

.product-48 .product-image {
    background-image: url('./assets/schemas/dulces/48.JPG');
}

.product-49 .product-image {
    background-image: url('./assets/schemas/dulces/49.JPG');
}

.product-50 .product-image {
    background-image: url('./assets/schemas/dulces/50.JPG');
}

.product-51 .product-image {
    background-image: url('./assets/schemas/dulces/51.JPG');
}

.product-52 .product-image {
    background-image: url('./assets/schemas/dulces/52.JPG');
}

.product-53 .product-image {
    background-image: url('./assets/schemas/dulces/53.JPG');
}

.product-54 .product-image {
    background-image: url('./assets/schemas/dulces/54.JPG');
}

.product-55 .product-image {
    background-image: url('./assets/schemas/dulces/55.JPG');
}

.product-56 .product-image {
    background-image: url('./assets/schemas/dulces/56.JPG');
}

.product-57 .product-image {
    background-image: url('./assets/schemas/dulces/57.JPG');
}

.product-58 .product-image {
    background-image: url('./assets/schemas/dulces/58.JPG');
}

.product-59 .product-image {
    background-image: url('./assets/schemas/dulces/59.JPG');
}

.product-60 .product-image {
    background-image: url('./assets/schemas/dulces/60.JPG');
}

.product-61 .product-image {
    background-image: url('./assets/schemas/dulces/61.JPG');
}

.product-62 .product-image {
    background-image: url('./assets/schemas/dulces/62.JPG');
}

.product-63 .product-image {
    background-image: url('./assets/schemas/dulces/63.JPG');
}

.product-64 .product-image {
    background-image: url('./assets/schemas/dulces/64.png');
}

.product-65 .product-image {
    background-image: url('./assets/schemas/dulces/65.JPG');
}

.product-66 .product-image {
    background-image: url('./assets/schemas/dulces/66.JPG');
}

.product-67 .product-image {
    background-image: url('./assets/schemas/dulces/67.JPG');
}

.product-68 .product-image {
    background-image: url('./assets/schemas/dulces/68.JPG');
}

.product-69 .product-image {
    background-image: url('./assets/schemas/dulces/69.JPG');
}

.product-70 .product-image {
    background-image: url('./assets/schemas/dulces/70.png');
}

.product-71 .product-image {
    background-image: url('./assets/schemas/dulces/71.png');
}

.product-72 .product-image {
    background-image: url('./assets/schemas/dulces/72.JPG');
}

.product-73 .product-image {
    background-image: url('./assets/schemas/dulces/73.JPG');
}

.product-74 .product-image {
    background-image: url('./assets/schemas/dulces/74.JPG');
}

.product-75 .product-image {
    background-image: url('./assets/schemas/dulces/75.JPG');
}

.product-76 .product-image {
    background-image: url('./assets/schemas/dulces/76.JPG');
}

.product-77 .product-image {
    background-image: url('./assets/schemas/dulces/77.JPG');
}

.product-78 .product-image {
    background-image: url('./assets/schemas/dulces/78.JPG');
}

.product-79 .product-image {
    background-image: url('./assets/schemas/dulces/79.JPG');
}

.product-80 .product-image {
    background-image: url('./assets/schemas/dulces/80.JPG');
}

.product-81 .product-image {
    background-image: url('./assets/schemas/dulces/81.JPG');
}

.product-82 .product-image {
    background-image: url('./assets/schemas/dulces/82.JPG');
}

.product-83 .product-image {
    background-image: url('./assets/schemas/dulces/83.JPG');
}

.product-84 .product-image {
    background-image: url('./assets/schemas/dulces/84.JPG');
}

.product-85 .product-image {
    background-image: url('./assets/schemas/dulces/85.JPG');
}

.product-86 .product-image {
    background-image: url('./assets/schemas/dulces/86.JPG');
}

.product-87 .product-image {
    background-image: url('./assets/schemas/dulces/87.JPG');
}

.product-88 .product-image {
    background-image: url('./assets/schemas/dulces/88.JPG');
}

.product-89 .product-image {
    background-image: url('./assets/schemas/dulces/89.JPG');
}

.product-90 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/90.JPG');
}

.product-91 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/91.JPG');
}

.product-92 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/92.JPG');
}

.product-93 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/93.JPG');
}

.product-94 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/94.JPG');
}

.product-96 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/96.JPG');
}

.product-97 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/97.JPG');
}

.product-98 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/98.JPG');
}

.product-99 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/99.JPG');
}

.product-100 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/100.JPG');
}

.product-101 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/101.JPG');
}

.product-102 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/102.JPG');
}

.product-103 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/103.JPG');
}

.product-104 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/104.JPG');
}

.product-105 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/105.JPG');
}

.product-106 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/106.JPG');
}

.product-109 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/109.JPG');
}

.product-110 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/110.JPG');
}

.product-111 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/111.JPG');
}

.product-112 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/112.JPG');
}

.product-113 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/113.JPG');
}

.product-114 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/114.JPG');
}

.product-115 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/115.JPG');
}

.product-116 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/116.JPG');
}

.product-117 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/117.JPG');
}

.product-118 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/118.JPG');
}

.product-119 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/119.JPG');
}

.product-120 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/120.JPG');
}

.product-121 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/121.JPG');
}

.product-122 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/122.JPG');
}

.product-123 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/123.JPG');
}

.product-124 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/124.JPG');
}

.product-125 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/125.JPG');
}

.product-126 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/126.JPG');
}

.product-127 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/127.JPG');
}

.product-128 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/128.JPG');
}

.product-129 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/129.JPG');
}

.product-130 .product-image {
    background-image: url('./assets/schemas/accesorios/accesorios/130.JPG');
}

.product-131 .product-image {
    background-image: url('./assets/schemas/anchetas/anchetas/ancheta1.JPG');
}

.product-132 .product-image {
    background-image: url('./assets/schemas/anchetas/anchetas/ancheta2.JPG');
}

.product-133 .product-image {
    background-image: url('./assets/schemas/anchetas/anchetas/ancheta3.JPG');
}

.product-134 .product-image {
    background-image: url('./assets/schemas/anchetas/anchetas/ancheta4.JPG');
}

.product-135 .product-image {
    background-image: url('./assets/schemas/anchetas/anchetas/ancheta6.JPG');
}

.product-136 .product-image {
    background-image: url('./assets/schemas/anchetas/anchetas/ancheta7.JPG');
}

.product-137 .product-image {
    background-image: url('./assets/schemas/anchetas/anchetas/ancheta8.JPG');
}

.product-138 .product-image {
    background-image: url('./assets/schemas/anchetas/anchetas/ancheta9.JPG');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.navbar {
    background-color: #025E73;
    padding: 0, 4rem;
    position: relative;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: 0 20px;
}

.navbar-logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: cover;
    z-index: 1000;
}

.hamburger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: #F2F2F2;
    cursor: pointer;
    margin-left: auto;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 20px;
}

.navbar-menu a {
    color: #F2F2F2;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.main-content {
    margin-top: 100px;
    /* Ajusta según el tamaño de tu navbar */
}

@media screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: #025E73;
        padding: 1rem;
    }
    .navbar-menu.active {
        display: flex;
    }
    .hamburger-menu {
        display: block;
    }
    .navbar-menu a {
        padding: 10px 0;
        text-align: center;
    }
}

.banner {
    background-color: #011F26;
    padding: 1rem;
    text-align: center;
    color: white;
    margin: 20px 0;
    border-radius: 50px;
    max-width: 100%;
    width: 57%;
    align-items: center;
    margin: 20px auto;
}

.banner h1,
.banner h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2rem;
}

.banner-button {
    background-color: #FFB347;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.banner-button:hover {
    background-color: #E59E33;
}

.carousel-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
    padding: 0 40px;
}

.carousel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carousel-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.product {
    background: white;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    padding-top: 100%;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
    color: #85bb65;
}

.quantity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.quantity button {
    background: #f0f0f0;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}

.quantity span {
    margin: 0 10px;
}

.buy-btn {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.buy-btn:hover {
    background: #45a049;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-arrow.left {
    left: 0;
}

.carousel-arrow.right {
    right: 0;
}


/* Estilos para pantallas pequeñas */

@media screen and (max-width: 768px) {
    .carousel-row {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .product {
        padding: 5px;
    }
    .price {
        font-size: 0.9rem;
    }
    .quantity button {
        width: 25px;
        height: 25px;
        font-size: 16px;
    }
    .buy-btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .carousel-row {
        grid-template-columns: 1fr;
    }
}

.about-us {
    max-width: 700px;
    margin: 20px auto;
}

.about-us-banner {
    background-color: #011F26;
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
}

.about-us-content {
    background-color: #BFB78F;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    font-size: 1.3rem;
    text-align: center;
}

.about-us-content h3 {
    margin-bottom: 10px;
}

.map-container {
    max-width: 700px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.mapa {
    width: 100%;
    height: 450px;
    border: 0;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
}

.contact-item {
    flex: 1;
}

.contact-item h3 {
    margin-bottom: 10px;
    color: #025E73;
}

.button-whatsapp,
.button-instagram {
    position: fixed;
    right: 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-size: cover;
    transition: width 0.3s ease, height 0.3s ease;
    top: 150px;
    right: -10px;
}

.button-instagram {
    top: 220px;
    right: -10px;
}

.button-whatsapp img,
.button-instagram img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.floating-cart {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.whatsapp-button {
    background-color: #25D366;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(44, 42, 42, 0.767);
    transition: all 0.3s ease;
}

.whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.whatsapp-button img {
    width: 36px;
    height: 36px;
    transition: all 0.3s ease;
}

.whatsapp-button:hover img {
    transform: rotate(10deg);
}

#cartItemCount {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #FF4136;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    min-width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.contact-info a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover,
.contact-info a:active {
    color: #025E73;
}

@media screen and (max-width: 768px) {
    .banner,
    .about-us {
        max-width: 90%;
        padding: 0.5rem;
    }
    .banner-button {
        font-size: 1.2rem;
        padding: 8px 16px;
    }
}